@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-layout .react-colorful {
    width:auto
  }
  
.custom-layout .react-colorful__saturation {
    margin: 15px 0;
    border-radius: 5px;
    border-bottom: none;
  }

.custom-layout .react-colorful__hue {
    border-radius:5px
}