@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-layout .react-colorful {
    width:auto;
    height:100%;
  }
  
  .custom-layout .react-colorful__saturation {
    /* height:100%; */
    margin: 0 0 15px 0;
    border-radius: 5px;
    border-bottom: none;
  }
  
  .custom-layout .react-colorful__hue {
    /* height:100%; */
    border-radius:5px
}